<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/people">About</a></li>
	        		<li><a href="/research">Research</a></li>
	        		<li><a href="/getinvolved">Get Involved</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="http://www.rhodes.edu">Link 1</a></li>
	        		<li><a href="http://www.rhodes.edu">Link 2</a></li>
				</ul>
			</footer>
		</body>
	</html>
